$time-line-height: 120px;
$time-line-ruler-height: 20px;

$ruler-24h-min-width: 992px;

.stages-scale {

  position: relative;
  margin: 10px;

  font-family: sans-serif, serif;

  .hidden {
    display: none;
  }

  .controls {
    text-align: right;

    .control {
      padding: 10px;
      font-size: large;
      cursor: pointer;

      &:hover {
        color: dimgrey;
      }
    }
  }

  .time-line {
    position: relative;
    padding: 10px 25px;
    height: $time-line-height;
    width: 100%;
    //background-color: #aeaeae;
    overflow-x: auto;
    overflow-y: hidden;
    box-sizing: border-box;

    &.zoom-1 {
      .events, .ruler {
        width: 100% !important;
      }
    }

    &.zoom-2 {
      .events, .ruler {
        width: 200% !important;
      }
    }

    &.zoom-3 {
      .events, .ruler {
        width: 300% !important;
      }
    }

    &.zoom-4 {
      .events, .ruler {
        width: 400% !important;
      }
    }

    &.zoom-5 {
      .events, .ruler {
        width: 480% !important;
      }
    }

    &.zoom-6 {
      .events, .ruler {
        width: 600% !important;
      }
    }

    &.zoom-7 {
      .events, .ruler {
        width: 800% !important;
      }
    }

    &.zoom-8 {
      .events, .ruler {
        width: 1200% !important;
      }
    }

    .events {
      position: relative;
      height: 40px;
      width: 100%;
      background-color: #aeaeae;

      &-item {
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: red;
        margin-left: -5px;
        left: 0;
        top: 0;
        font-size: 10px;
      }

      .group-by {
        position: absolute;
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: blue;
        margin-left: -10px;
        left: 0;
        top: 0;
        font-size: 12px;

        &:after {
          content: attr(data-count);
          display: block;
          position: absolute;
          width: 20px;
          top: 0;
          left: 50%;
          margin-left: -10px;
          color: white;
        }

        .events-item {
          display: none;
        }
      }
    }

    .ruler {
      position: relative;
      width: 100%;
      height: $time-line-ruler-height;

      .unit-hh {
        position: relative;
        top: 0;
        width: 4.16667%;
        height: 100%;
        box-sizing: border-box;
        text-align: center;
        float: left;
        border-right: 2px solid black;

        > i {
          position: relative;
          display: inline-block;
          width: 8.3333333%;
          //margin-top: 60%;
          height: 40%;
          box-sizing: border-box;
          border-right: 1px solid black;

          &:nth-child(6) {
            height: 60%;
            //margin-top: 40%;
          }

          &:last-child {
            border-right: none;
          }

        }

        &:after {
          position: absolute;
          content: attr(data-value);
          width: 50px;
          height: 100%;
          left: 100%;
          margin-left: -25px;
          top: 100%;
        }

        &:before {

        }

        &:first-child {
          border-left: 2px solid black;

          &:before {
            position: absolute;
            content: '00:00';
            width: 40px;
            height: 100%;
            right: 100%;
            margin-right: -20px;
            top: 100%;
          }
        }
      }
    }

  }

  .legend {

  }

}