.stages-scale {
  $scale-height: 20px;

  position: relative;
  margin: 10px;

  .hidden {
    display: none;
  }

  .time-line {
    position: relative;
    height: $scale-height;
    width: 100%;
    background-color: #aeaeae;

    .event {
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: red;
      margin-left: -5px;
      left: 0;
      top: 0;
      font-size: 10px;
    }

    .unit-24h {
      position: absolute;
      top: $scale-height;
      width: 40px;
      margin-left: -20px;
    }
  }

  .legend {

  }

}