$time-line-height: 120px;
$time-line-ruler-height: 20px;

$ruler-24h-min-width: 992px;

$event-marker-color-base: #fea94d;
$event-marker-color-outer: adjust-hue($event-marker-color-base, 13%);

$event-marker-group-color-base: #2271b0;
$event-marker-group-color-outer: #65a2c2;


$event-icon-file-color-base: #7285f6;
$event-icon-file-color-outer: #8a86f6;

.hidden {
  display: none;
}

.stages-scale {

  position: relative;
  margin: 10px;

  font-family: sans-serif, serif;

  .hidden {
    display: none;
  }

  .controls {
    text-align: right;

    .control {
      padding: 10px;
      font-size: large;
      cursor: pointer;

      &:hover {
        color: dimgrey;
      }
    }
  }

  .time-line {
    position: relative;
    padding: 30px 25px 10px;
    height: $time-line-height;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    box-sizing: border-box;

    &.zoom-1 {
      .events, .ruler {
        width: 100% !important;
      }
    }

    &.zoom-2 {
      .events, .ruler {
        width: 200% !important;
      }
    }

    &.zoom-3 {
      .events, .ruler {
        width: 300% !important;
      }

      .ruler i:nth-child(4n) {
        height: 60%;
      }
      .ruler i:nth-child(6n) {
        height: 40% !important;
      }
    }

    &.zoom-4 {
      .events, .ruler {
        width: 400% !important;
      }

      .ruler i:nth-child(3n) {
        height: 60%;
      }
    }

    &.zoom-5 {
      .events, .ruler {
        width: 480% !important;
      }

      .ruler i:nth-child(even) {
        height: 60%;
      }
    }

    &.zoom-6 {
      .events, .ruler {
        width: 600% !important;
      }
    }

    &.zoom-7 {
      .events, .ruler {
        width: 800% !important;
      }
    }

    &.zoom-8 {
      .events, .ruler {
        width: 1200% !important;
      }
    }

    .events {
      position: relative;
      height: 40px;
      width: 100%;
      background-color: #aeaeae;
      z-index: 1;

      &-item {
        position: absolute;
        width: 36px;
        height: 36px;
        background: radial-gradient(circle closest-side, $event-marker-color-base 13px, $event-marker-color-outer 13px);
        border-radius: 18px;
        margin-left: -18px;
        left: 0;
        bottom: 21px;

        &:before {
          position: absolute;
          z-index: -5;
          width: 0;
          height: 0;
          left: 3px;
          content: '';
          display: inline-block;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-top: 17px solid $event-marker-color-base;
          margin-top: 28px;
        }

        &:after {
          content: "\2022";
          text-indent: -5px;
          font-size: 40px;
          padding-bottom: 5px;
          color: #333;
          text-shadow: 0 0 3px #fff;
          position: absolute;
          display: block;
          width: 4px;
          height: 15px;
          background-color: $event-marker-color-base;
          left: 16px;
          bottom: -18px;
          z-index: -10;
        }

        // event with icon label
        &.icon-file {
          background-image: url('../icons/file.png'),
          radial-gradient(circle closest-side,
                          $event-icon-file-color-base 13px,
                          $event-icon-file-color-outer 13px);
          background-size: 60%, 100%;
          background-position: center;
          background-repeat: no-repeat;

          &:before {
            border-top: 17px solid $event-icon-file-color-base;
          }
          &:after {
            background-color: $event-icon-file-color-base;
          }

        }
      }

      .group-by {
        position: absolute;
        content: attr(data-count);
        width: 36px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        font-weight: bold;
        color: #ffffff;
        background: radial-gradient(circle closest-side, $event-marker-group-color-base 13px, $event-marker-group-color-outer 13px);
        border-radius: 18px;
        margin-left: -18px;
        left: 0;
        bottom: 21px;

        &:before {
          position: absolute;
          z-index: -5;
          width: 0;
          height: 0;
          left: 3px;
          content: '';
          display: inline-block;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-top: 17px solid $event-marker-group-color-base;
          margin-top: 28px;
        }

        &:after {
          content: "\2022";
          text-indent: -5px;
          font-size: 40px;
          line-height: initial;
          padding-bottom: 5px;
          color: #333;
          text-shadow: 0 0 3px #fff;
          position: absolute;
          display: block;
          width: 4px;
          height: 15px;
          background-color: $event-marker-group-color-base;
          left: 16px;
          bottom: -18px;
          z-index: -10;
        }

        .events-item {
          display: none;
        }
      }
    }

    .ruler {
      position: relative;
      width: 100%;
      height: $time-line-ruler-height;

      .unit-hh {
        position: relative;
        top: 0;
        height: 100%;
        box-sizing: border-box;
        text-align: center;
        float: left;
        border-right: 2px solid black;

        > i {
          position: relative;
          display: inline-block;
          width: 8.3333333%;
          //margin-top: 60%;
          height: 40%;
          box-sizing: border-box;
          border-right: 1px solid black;

          &:nth-child(6) {
            height: 60%;
            //margin-top: 40%;
          }

          &:last-child {
            border-right: none;
          }

        }

        &:after {
          position: absolute;
          content: attr(data-value);
          width: 50px;
          height: 100%;
          left: 100%;
          margin-left: -25px;
          top: 100%;
        }

        &:before {

        }

        &:first-child {
          border-left: 2px solid black;

          &:before {
            position: absolute;
            content: attr(data-start-hour);
            width: 40px;
            height: 100%;
            right: 100%;
            margin-right: -20px;
            top: 100%;
          }
        }
      }
    }

  }

  .legend {
    &-item {
      display: inline-block;
      width: 33.33%;
      visibility: hidden;
      position: absolute;
      padding: 5px 15px;
      box-sizing: border-box;
    }

    > .col-3 {
      width: 33.33%;
      float: left;

      .legend-item {
        display: inline-block;
        position: relative;
        width: 100%;
        visibility: visible;
        padding: 5px 15px;
        box-sizing: border-box;
      }
    }
  }

}